.sys1{
    background-image: linear-gradient(to bottom right, skyblue, white, skyblue);
} 
#welcome{
    font-family: "Oswald"; 
    text-decoration: underline; 
    color: lemonchiffon;  
    font-size: 20px; 
    text-align: center;  
    animation-name: headerAnimation, textSize; 
    animation-duration: 8s;   
    animation-fill-mode: forwards;

    
    
    
    
} 

@keyframes headerAnimation {
    from {
        color: lemonchiffon; 
    }
    to{
        color: black; 
    }
} 

@keyframes textSize { 
    from{
        font-size: 20px;
    }
    to{
        font-size: 70px; 
    }
} 